@*@model IEnumerable<WebApplication1.Models.getapplicationcountdata_Result1>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .info-box {
        padding:0px !important;
    }
</style>
<section id="">
    <section class="">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i>Dashboard</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Dashboard</li>
                </ol>
            </div>
        </div>

        <div class="row">
            @*@foreach (var model1 in Model)
        {
            //string[] cars = { "Volvo", "BMW", "Ford", "Mazda", "", "", "" };
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg  @model1.Regtype.Replace(" ","")">
                    <i class="fa fa-cloud-download"></i>
                    <div class="count" style="font-size:23px;">@model1.Totalcount</div>
                    <div class="title">RegName-@model1.Regtype</div>
                </div>
            </div>
        }*@
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count1</div>
                    <div class="title">FIRST REGISTRATION</div>

                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count2</div>
                    <div class="title">TRANSFER OF REGISTRATION FORM OTHER STATE</div>

                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count3</div>
                    <div class="title">Addition of Qualification</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count4</div>
                    <div class="title">RENEWAL REGISTRATION</div>
                </div>
                <!--/.info-box-->
            </div>





            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count5</div>
                    <div class="title">TRANSFER OF REGISTRATION FROM OTHER STATE</div>
                </div>
                <!--/.info-box-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count6</div>
                    <div class="title">SMART CARD</div>
                </div>
                <!--/.info-box-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-users"></i>

                    <div class="count">@ViewBag.count7</div>
                    <div class="title">INITIAL REGISTRATION</div>
                </div>
                <!--/.info-box-->
            </div>

            <!--/.col-->

        </div>
            <!--/.row-->
</section>
    <div class="text-right">
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin

            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            //$(".FIRSTREGISTRATION").addClass("blue-bg");
            //$(".TRANSFEROFREGISTRATIONFORMOTHERSTATE").addClass("brown-bg");
            //$(".AdditionofQualification").addClass("dark-bg");
            //$(".RENEWALREGISTRATION").addClass("green-bg");
            //$(".TRANSFEROFREGISTRATIONFROMOTHERSTATE").addClass("brown-bg");
        });

    </script>
</section>
